 .u-section-1 {
  min-height: 681px;
}

.u-section-1 .u-shape-1 {
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 57px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 624px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-1 .u-social-icons-1 {
  height: 29px;
  min-height: 16px;
  width: 87px;
  min-width: 48px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-image-1 {
  width: 268px;
  height: 763px;
  margin: -153px 106px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 624px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.6875rem;
  margin: -18px auto 0 -51px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 21px 126px 0 -51px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 29px 0 0 -50px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: solid;
  font-weight: 400;
  background-image: none;
  margin: 19px auto 0 -30px;
  padding: 4px 22px 6px 21px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: solid;
  font-weight: 400;
  background-image: none;
  margin: -41px auto 0 147px;
  padding: 4px 16px 5px 14px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 679px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 639px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 107px;
    min-width: 68px;
    margin-top: 111px;
  }

  .u-section-1 .u-image-1 {
    height: 728px;
    margin-top: -246px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    padding: 13px 16px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 54px;
    padding: 13px 18px 13px 17px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 279px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 103px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 514px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 59px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 614px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 755px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-2 .u-image-1 {
  width: 295px;
  height: 295px;
  margin: 256px auto 0 39px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 755px;
}

.u-section-2 .u-text-1 {
  font-family: Montserrat;
  font-size: 1.25rem;
  margin: 261px 139px 0 125px;
}

.u-section-2 .u-image-2 {
  width: 317px;
  height: 505px;
  margin: -458px auto 0 -199px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -442px 124px 0 66px;
}

.u-section-2 .u-text-3 {
  margin: -116px 108px 419px 82px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 79px;
    margin-left: 65px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -344px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -339px;
    margin-right: 64px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 48px;
    margin-left: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1193px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -262px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 895px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -287px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 228px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -370px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -83px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 614px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 616px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-3 .u-image-1 {
  width: 306px;
  height: 280px;
  margin: 0 102px 0 35px;
}

.u-section-3 .u-image-2 {
  width: 330px;
  height: 436px;
  margin: -280px -22px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 222px;
  height: 312px;
  margin: -263px auto 0 22px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 616px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  line-height: 1.1;
  font-family: "Noticia Text";
  margin: 85px 198px 0 135px;
}

.u-section-3 .u-text-2 {
  margin: 12px 219px 0 135px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 12px auto 0 135px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 57px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 435px;
  }

  .u-section-3 .u-image-3 {
    height: 313px;
    margin-top: -262px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 595px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 138px;
    margin-left: 75px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 159px;
    margin-left: 75px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 75px;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 973px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 730px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 33px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 34px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
  min-height: 859px;
}

.u-section-4 .u-image-1 {
  width: 721px;
  height: 721px;
  margin: 41px 0 0 auto;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 671px);
  height: 721px;
  background-image: none;
  margin: -721px 0 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: -665px calc(((100% - 1140px) / 2) + 202px) 0 calc(((100% - 1140px) / 2) + 178px);
}

.u-section-4 .u-text-2 {
  font-family: Montserrat;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px calc(((100% - 1140px) / 2) + 570px) 0 calc(((100% - 1140px) / 2) + 178px);
}

.u-section-4 .u-text-3 {
  font-family: "Noticia Text";
  font-size: 4.5rem;
  margin: 0 calc(((100% - 1140px) / 2) + 836px) 0 calc(((100% - 1140px) / 2) + 178px);
}

.u-section-4 .u-text-4 {
  margin: -86px calc(((100% - 1140px) / 2) + 685px) 0 calc(((100% - 1140px) / 2) + 329px);
}

.u-section-4 .u-text-5 {
  font-family: Montserrat;
  font-size: 0.625rem;
  font-weight: 600;
  margin: 0 calc(((100% - 1140px) / 2) + 847px) 0 calc(((100% - 1140px) / 2) + 189px);
}

.u-section-4 .u-text-6 {
  font-family: Montserrat;
  font-size: 0.625rem;
  font-weight: 600;
  margin: -16px calc(((100% - 1140px) / 2) + 696px) 0 calc(((100% - 1140px) / 2) + 340px);
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 400;
  margin: 20px auto 60px calc(((100% - 1140px) / 2) + 178px);
  padding: 8px 30px 8px 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-top: -436px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 637px);
    height: 687px;
    margin-top: -697px;
    margin-right: calc(((100% - 940px) / 2) + 45px);
  }

  .u-section-4 .u-text-1 {
    width: 631px;
    margin-top: -655px;
    margin-right: calc(((100% - 940px) / 2) + 497px);
    margin-left: calc(((100% - 940px) / 2) + 50px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 470px);
    margin-left: calc(((100% - 940px) / 2) + 78px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 736px);
    margin-left: calc(((100% - 940px) / 2) + 78px);
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 585px);
    margin-left: calc(((100% - 940px) / 2) + 229px);
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 747px);
    margin-left: calc(((100% - 940px) / 2) + 89px);
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2) + 596px);
    margin-left: calc(((100% - 940px) / 2) + 240px);
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-top: -306px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 637px);
    margin-right: calc(((100% - 720px) / 2) + 33px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 277px);
    margin-left: calc(((100% - 720px) / 2) + 50px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 328px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 594px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 475px);
    margin-left: calc(((100% - 720px) / 2) + 119px);
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 616px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 486px);
    margin-left: calc(((100% - 720px) / 2) + 130px);
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 679px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -211px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    height: 540px;
    margin-top: -666px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-top: -416px;
    margin-right: calc(((100% - 540px) / 2) + 97px);
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 148px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 414px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 385px);
    margin-left: calc(((100% - 540px) / 2) + 29px);
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 436px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + 396px);
    margin-left: calc(((100% - 540px) / 2) + 40px);
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 479px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -146px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    height: 340px;
    margin-top: -460px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-top: -201px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 50px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 214px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2) + 214px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2) + 236px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2) + 236px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 598px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 100px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 448px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 448px;
  background-image: url("images/homepage.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 60px;
}

.u-section-5 .u-image-2 {
  width: 208px;
  height: 542px;
  margin: -104px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-5 .u-image-1 {
    min-height: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 283px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 425px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 268px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 539px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  width: 740px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 20px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 315px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 0 0 9px;
}

.u-section-6 .u-text-4 {
  margin: 20px auto 0 9px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 0 0 9px;
}

.u-section-6 .u-text-6 {
  margin: 20px auto 0 9px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 0 0 9px;
}

.u-section-6 .u-text-8 {
  margin: 20px auto 0 9px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }
} .u-section-7 {
  background-image: url("images/homepage.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 914px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 55px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 20px 458px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 11px 0 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 676px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 17px;
}

.u-section-7 .u-icon-1 {
  width: 36px;
  height: 36px;
  margin: 0 auto 0 13px;
  padding: 0;
}

.u-section-7 .u-text-3 {
  margin: 2px 13px 0;
}

.u-section-7 .u-text-4 {
  font-weight: 900;
  margin: 0 13px;
}

.u-section-7 .u-text-5 {
  margin: 20px 17px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  margin: 23px auto 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 676px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 11px;
}

.u-section-7 .u-icon-2 {
  width: 36px;
  height: 36px;
  margin: 0 auto 0 23px;
  padding: 0;
}

.u-section-7 .u-text-6 {
  margin: 0 23px;
}

.u-section-7 .u-text-7 {
  font-weight: 900;
  margin: 0 23px;
}

.u-section-7 .u-text-8 {
  margin: 21px 21px 0 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  margin: 23px auto 0 19px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 676px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 9px;
}

.u-section-7 .u-icon-3 {
  width: 36px;
  height: 36px;
  margin: 0 auto 0 18px;
  padding: 0;
}

.u-section-7 .u-text-9 {
  margin: 0 21px;
}

.u-section-7 .u-text-10 {
  font-weight: 900;
  margin: 0 21px;
}

.u-section-7 .u-text-11 {
  margin: 21px 23px 0 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  margin: 23px auto 0 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 676px;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 21px;
}

.u-section-7 .u-icon-4 {
  width: 36px;
  height: 36px;
  margin: 0 auto 0 21px;
  padding: 0;
}

.u-section-7 .u-text-12 {
  margin: 0 9px;
}

.u-section-7 .u-text-13 {
  font-weight: 900;
  margin: 0 -2px 0 9px;
}

.u-section-7 .u-text-14 {
  margin: 21px 9px 0 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  margin: 23px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-7 .u-text-2 {
    width: 682px;
    margin-right: 258px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 557px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-11 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 557px;
  }

  .u-section-7 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 38px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 753px;
}

.u-section-8 .u-image-1 {
  width: 234px;
  height: 356px;
  margin: 243px auto 0 317px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: -579px 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 755px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 755px;
}

.u-section-8 .u-image-2 {
  width: 185px;
  height: 185px;
  margin: 38px auto 0 -80px;
}

.u-section-8 .u-group-elements-1 {
  min-height: 548px;
  width: 445px;
  margin: -162px 76px 0 auto;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 2.0625rem;
  margin: 0;
}

.u-section-8 .u-text-3 {
  margin: 4px 0 0;
}

.u-section-8 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-8 .u-image-3 {
  width: 406px;
  height: 462px;
  margin: -492px auto 0 -406px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-8 .u-image-1 {
    height: 357px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -580px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-8 .u-group-elements-1 {
    height: auto;
  }

  .u-section-8 .u-image-3 {
    height: 461px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1192px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 1193px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 1193px;
  }

  .u-section-8 .u-group-elements-1 {
    width: 423px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-8 .u-image-1 {
    margin-left: 306px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 895px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 245px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-8 .u-image-1 {
    margin-left: 106px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-8 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 614px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 20px 0 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 616px;
}

.u-section-9 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-9 .u-text-1 {
  margin: 0 28px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 2.0625rem;
  margin: 0 28px;
}

.u-section-9 .u-text-3 {
  margin: 4px 28px 0;
}

.u-section-9 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 600;
  margin: 20px auto 0 28px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 616px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-9 .u-image-1 {
  width: 162px;
  height: 127px;
  margin: 28px auto 0 77px;
}

.u-section-9 .u-image-2 {
  width: 335px;
  height: 410px;
  margin: -94px 77px 0 auto;
}

.u-section-9 .u-image-3 {
  width: 222px;
  height: 349px;
  margin: -410px auto 0 61px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 5px;
    margin-right: 4px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 5px;
    margin-right: 4px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-9 .u-image-2 {
    width: 299px;
    height: 366px;
    margin-right: 0;
  }

  .u-section-9 .u-image-3 {
    margin-top: -366px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 1167px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 875px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 551px;
  }
} .u-section-10 {
  background-image: none;
  min-height: 706px;
}

.u-section-10 .u-shape-1 {
  height: 485px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1140px;
  margin: -405px auto 10px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 718px;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin: 66px 69px 0 31px;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: 15px 69px 0 31px;
}

.u-section-10 .u-list-1 {
  width: 459px;
  margin: 15px auto 0;
}

.u-section-10 .u-repeater-1 {
  grid-gap: 0px;
}

.u-section-10 .u-text-3 {
  margin: 0 100px 0 31px;
}

.u-section-10 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 19px auto 0 31px;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  margin: -22px 38px 0 62px;
}

.u-section-10 .u-group-elements-1 {
  min-height: 26px;
  width: 428px;
  margin: 8px auto 0 0;
}

.u-section-10 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 31px;
}

.u-section-10 .u-text-5 {
  font-weight: 700;
  margin: -22px 38px 0 62px;
}

.u-section-10 .u-image-1 {
  min-height: 718px;
  background-image: url("images/veg.png");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 19px 30px;
}

.u-section-10 .u-text-6 {
  margin: 0 24px;
}

.u-section-10 .u-form-1 {
  height: 596px;
  background-image: none;
  margin: 11px 19px 0 29px;
}

.u-section-10 .u-label-1 {
  font-size: 0.75rem;
  font-style: italic;
}

.u-section-10 .u-label-2 {
  font-size: 0.75rem;
  font-style: italic;
}

.u-section-10 .u-label-3 {
  font-size: 0.75rem;
  font-style: italic;
}

.u-section-10 .u-label-4 {
  font-size: 0.75rem;
  font-style: italic;
}

.u-section-10 .u-label-5 {
  font-size: 0.75rem;
  font-style: italic;
}

.u-section-10 .u-label-6 {
  font-size: 0.75rem;
  font-style: italic;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
  background-image: none;
  text-transform: none;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 606px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-10 .u-text-1 {
    width: 397px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    width: 397px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-list-1 {
    width: 397px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-10 .u-text-3 {
    width: 397px;
    margin-right: 31px;
    margin-left: 0;
  }

  .u-section-10 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-group-elements-1 {
    height: auto;
    width: 397px;
  }

  .u-section-10 .u-text-5 {
    width: 397px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-image-1 {
    min-height: 592px;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-form-1 {
    width: 397px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 237px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-1 {
    width: 287px;
  }

  .u-section-10 .u-text-2 {
    width: 287px;
  }

  .u-section-10 .u-list-1 {
    width: 287px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-10 .u-text-3 {
    width: 287px;
    margin-right: 0;
  }

  .u-section-10 .u-group-elements-1 {
    width: 287px;
  }

  .u-section-10 .u-text-5 {
    width: 287px;
  }

  .u-section-10 .u-image-1 {
    min-height: 453px;
  }

  .u-section-10 .u-form-1 {
    width: 287px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 337px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 233px;
  }

  .u-section-10 .u-image-1 {
    min-height: 680px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-6 {
    width: auto;
  }

  .u-section-10 .u-form-1 {
    height: 371px;
    width: 387px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 33px;
  }

  .u-section-10 .u-image-1 {
    min-height: 428px;
  }

  .u-section-10 .u-form-1 {
    width: 320px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 700px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-11 .u-text-2 {
  width: 610px;
  margin: 20px auto 0;
}

.u-section-11 .u-list-1 {
  margin-bottom: 47px;
  margin-top: 30px;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 439px;
  grid-gap: 20px;
}

.u-section-11 .u-container-layout-1 {
  padding: 20px;
}

.u-section-11 .u-group-1 {
  min-height: 202px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px;
}

.u-section-11 .u-text-3 {
  font-weight: 700;
  font-style: italic;
  margin: 0;
}

.u-section-11 .u-icon-1 {
  width: 64px;
  margin: 30px auto 0;
}

.u-section-11 .u-image-1 {
  width: 53px;
  height: 53px;
  background-image: url("images/pexels-photo-2182970.jpeg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-11 .u-text-4 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-11 .u-list-item-2 {
  background-image: none;
}

.u-section-11 .u-container-layout-3 {
  padding: 20px;
}

.u-section-11 .u-group-2 {
  min-height: 202px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-11 .u-container-layout-4 {
  padding: 20px;
}

.u-section-11 .u-text-5 {
  font-weight: 700;
  font-style: italic;
  margin: 0;
}

.u-section-11 .u-icon-2 {
  width: 64px;
  margin: 30px auto 0;
}

.u-section-11 .u-image-2 {
  width: 53px;
  height: 53px;
  background-image: url("images/pexels-photo-1181541.jpeg");
  background-position: 9.85% 50%;
  margin: 20px auto 0;
}

.u-section-11 .u-text-6 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-11 .u-container-layout-5 {
  padding: 20px;
}

.u-section-11 .u-group-3 {
  min-height: 202px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-11 .u-container-layout-6 {
  padding: 20px;
}

.u-section-11 .u-text-7 {
  font-weight: 700;
  font-style: italic;
  margin: 0;
}

.u-section-11 .u-icon-3 {
  width: 64px;
  margin: 30px auto 0;
}

.u-section-11 .u-image-3 {
  width: 53px;
  height: 53px;
  background-image: url("images/pexels-photo-3727464.jpeg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-11 .u-text-8 {
  font-weight: 700;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-11 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 362px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 832px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-2 {
    width: 540px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }
}